@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat&family=Puritan&family=Roboto+Slab&family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  border: 0;
}

.missions-container {
  margin: 10px 40px;
}

table {
  border: 1px solid  rgb(219, 218, 218);
  padding: 5px 20px 5px 10px;
  border-collapse: collapse;
}

th {
  text-align: left;
}

.mission-row {
  border-collapse: separate;
  border-spacing: 0 15px;
  border-bottom: 1px solid  rgb(219, 218, 218);
}

tbody .mission-row:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr td .mission-td {
  padding: 5px;
}

tbody tr .mission-name {
  width: 10%;
  flex-direction: column;
  justify-content: flex-start;
}

thead tr th {
  border-bottom: 1px solid  rgb(219, 218, 218);
  padding: 5px;
}

tbody .mission-description {
  width: 65%;
}

thead tr th,
tbody tr .mission-description {
  border-left: 1px solid rgb(219, 218, 218);
  border-right: 1px solid rgb(219, 218, 218);
}

.mission-reservation {
  width: 10%;
  border-right: 1px solid rgb(219, 218, 218);
}

.mission-reservation2 {
  width: 15%;
}

.member-button {
  width: 120px;
  border-radius: 0.15rem;
  padding: 1px;
  color: #fff;
  background-color: rgba(109, 108, 108, 0.863);
}

.member-button .active {
  background-color: rgba(52, 89, 255, 0.863);
}

.mission-button {
  width: 120px;
  border-radius: 0.15rem;
  padding: 5px 10px;
  border: 1px solid rgba(169, 169, 170, 0.863);
  background-color: transparent;
}

.mission-button .leave {
  border: 1px solid rgba(224, 14, 7, 0.863);
  color: rgba(224, 14, 7, 0.863);
}
