@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat&family=Puritan&family=Roboto+Slab&family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  border: 0;
}

p {
  font-size: 14px;
  color:rgba(86, 86, 87, 0.863);
}

button {
  font-size: 15px;
}

.rockets-container {
  flex-direction: column;
  padding: 10px 40px;
  justify-content: space-between;
}

.rocket-card {
  display: grid;
  grid-template-columns: 300px 800px;
  gap: 20px;
}

.rocket-image {
  order: 1;
  width: 300px;
  height: 200px;
}

.rockets-content {
  order: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.reserve {
  padding: 5px 10px;
  color: #fff;
  border-radius: 0.2rem;
  background-color: rgba(52, 89, 255, 0.863);
}

.unreserve {
  padding: 5px 10px;
  color:rgba(148, 148, 151, 0.863);
  border-radius: 0.2rem;
  border: 1px solid rgba(148, 148, 151, 0.863);
  background-color: transparent;
}

.reserved {
  font-size: 12px;
  padding: 2px 5px;
  color: #fff;
  border-radius: 0.3rem;
  margin-right: 5px;
  background-color: rgba(95, 168, 216, 0.863);
}